server:
  port: 8088

spring:
  application:
    name: jarvis-recommendation
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
        namespace: public
  redis:
    host: localhost
    port: 6379
    password: 
    database: 0

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

logging:
  level:
    root: info
    com.skyeai.jarvis.recommendation: debug